.team-content {
  border: .5vw solid #f7f3e9;
  display: flex;
  flex-direction: column;
  margin: 5vw 0;
}
.content-title {
  display: flex;
  align-self: center;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  padding: 1vw 1.5vw;
  font-size: 1.5vw;
  color: #623b1c;
  background-color: #f7f3e9;
  font-weight: 900;
  margin-top: -3vw;
  margin-bottom: 3vw;
}
.content-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 2vw;
  /* padding: 2vw; */
  /* background-color: #f7f3e9; */
  /* margin-bottom: 2vw; */
}
.content-line {
  /* background-color: #f6eddd; */
  padding: .5vw;
  margin: .5vw 0;
}
.content-line .title {
  padding: .5vw;
  margin-right: .5vw;
  background-color: #623b1c;
  color: white;
  border-radius: .5vw;
}

.contact-window {
  background-color: #f7f3e9;
  padding: 2vw .5vw;
}
.contact-line {
  display: flex;
  flex-direction: column;
  margin: 1vw 0;
}
.contact-line .left-section {
  padding-right: .2vw;
}
.contact-line .people-section {
  display: flex;
  flex-direction: column;
  background-color: #eae3c8;
  padding: .5vw;
}
.contact-line .tags {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: .2vw;
  flex-wrap: wrap;
}
.contact-line .tags img {
  width: 1.5vw;
  height: 1.5vw;
  margin-right: .5vw;
}
.contact-line .tags > span {
  padding: .5vw 1vw;
  color: white;
  border-top-right-radius: 1.5vw;
}
.contact-line .tags > span:not(:first-child) {
  margin-left: -1.5vw;
  padding-left: 2.2vw;
}
.contact-line .tags span.disc {
  background-color: #eae3c8;
  border-color: #eae3c8;
  color: #91684a;
  font-weight: 700;
  z-index: 2;
}
.contact-line .tags span.race {
  background-color: #623b1c;
  border-color: #eae3c8;
  border-bottom-right-radius: 1.5vw;
  /* border-bottom: .5vw solid #91684a; */
  z-index: 2;
}
.contact-line .tags span.school, .contact-line .tags span.award {
  background-color: #91684a;
  border-color: #eae3c8;
  border-bottom-right-radius: 1.5vw;
  /* border-bottom: .5vw solid #91684a; */
  z-index: 1;
}
.contact-line .tags span.person {
  color: #623b1c;
  font-weight: 900;
}
.contact-line .tags .phone, .contact-line .tags .email {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1vw;
  color: #91684a;
}

.contact-line .tags .phone span, .contact-line .tags .email span {
  color: #91684a;
}

div.page-title {
  /* Desktop Version */
  min-height: 20vw;
}

.sub-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0px;
}

table {
  border: black 1px solid;
}

.team-content a {
  color: #49260a;
}

@media only screen and (max-device-width: 767px) {
  .content-title {
    font-size: 2.5vw;
  }
  .content-line {
    display: flex;
    flex-direction: row;
  }
  .content-line .title {
    padding-right: 1vw;
    margin-right: 1vw;
    white-space: nowrap;
    height: fit-content;
  }
  .contact-line .tags img {
    width: 2vw;
    height: 2vw;
  }

  .contact-line .tags > span {
    padding: 1vw 1.5vw;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
  }
  .contact-line .tags > span:not(:first-child) {
    padding-left: 2.5vw;
  }
  .contact-line .tags .phone span, .contact-line .tags .email span {
    display: none;
  }
  .contact-line .tags .phone:hover span, .contact-line .tags .email:hover span {
    display: block;
  }
}