.icons {
  justify-content: center !important;
}

div.page-title {
  /* Desktop Version */
  min-height: 20vw;
}
.page-title-text {
  font-size: 1.5vw;
  padding: 5vw;
  line-height: 1.8;
}

.section .section-content {
  background-color: #eae3c8;
}

.sub-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0px;
  background-color: #f6eddd;
  overflow: hidden;
  box-shadow: 5px 10px rgb(73 38 10 / 10%);
  min-height: 40vw;
    height: fit-content;
    position: relative;
}

.huge-circle {
  position: absolute;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: white;
  margin-left: -20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 5px 10px rgb(145 104 74 / 50%);
}

.sub-section .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100% - 35vw);
  padding: 2vw;
  margin-left: 30vw;
}
.sub-section .info .info-section {
  display: flex;
  flex-direction: row;
  margin: .5vw 0;
  padding-left: 1.5vw;
}
.sub-section .info .info-section span {
  padding: .5vw 1vw;
}
.sub-section .info .info-section span.title {
  background-color: #91684a;
  margin-right: .7vw;
  border-radius: .7vw;
  color: white;
}
.sub-section .info .intro-section {
  margin: .5vw 0;
  padding-left: 1.5vw;
}

.sub-section img {
  width: 23vw;
  height: auto;
  margin-left: 20vw;
}

.fake-cover {
  display: none;
  height: 10vw;
  width: 45vw;
  background-color: #f6eddd;
}

@media only screen and (max-device-width: 767px) {
  .page-title {
    margin-top: 5vh;
  }
  .page-title-text {
    font-size: 2.8vw;
  }
  .section {
    margin-top: 10vw;
  }
  .sub-section {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    height: fit-content;
    margin-top: 40vw;
    overflow: visible;
  }
  .sub-section .info {
    width: calc(100% - 3vw);
    max-width: unset;
    padding: 1.5vw;
    z-index: 3;
  }
  .huge-circle {
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: -35vw;
    margin-left: unset;
    z-index: 2;
    flex-direction: column;
    box-shadow: 0 -10px rgb(145 104 74 / 50%);
  }
  .fake-cover {
    display: block;
  }
  .sub-section img {
    height: 30vw;
    margin-top: 5vw;
    width: unset;
    margin-left: unset;
  }
}