.banner {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vw;
  top: 0;
  background-color: rgba(205,173,140,.8);
  transition: all .4s;
  z-index: 10;
}
.banner:hover {
  background-color: rgba(205,173,140,.9);
}
.banner > .logo {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.banner > .logo > img {
  /* height: 20vw; */
  width: 20vw;
  margin: 0 -5vw;
}
.banner > .logo > span {
  font-size: 1.5vw;
  font-family: '標楷體';
}
.banner > .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  flex-grow: 1;
}

.menu-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
  transition: all .5s;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
.menu-block:hover, .menu-block.hover {
  border-color: #623b1c;
  color: #623b1c;
}


.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 8;
  background-color: bisque;
  border: 3px solid bisque;
  cursor: pointer;
  transition: all .5s;
}
.back-to-top:hover {
  transform: scale(1.2);
}
.back-to-top img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-device-width: 1025px) {
  .menu-block {
    font-size: 1.2vw;
  }
}

/*  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner > .logo {
    width: 35%;
  }
  .banner > .logo > span {
    font-size: 1.6vw;
  }
  .menu-block {
    font-size: 1.6vw;
  }
}

@keyframes rotate { 100% { transform: rotate(315deg); background-color: #ac0d0d; } }
@keyframes rotate2 { 100% { transform: rotate(-360deg); background-color: #caad8c; } }

@media only screen and (max-device-width: 767px) {
  .banner {
    height: 0;
  }
  .banner > .menu {
    display: block;
    position: fixed;
    bottom: 16vw;
    right: 4vw;
    height: 0;
    /* transform: translateY(55vh); */
    border-radius: 6vw 6vw 0 0;
    overflow: hidden;
    transition: all .5s;
  }
  .banner.expand > .menu {
    height: 55vh;
  }
  .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    transition: margin-top .5s;
    /* padding: 3vw; */
    margin-top: 65vh;
    height: 100%;
    border-radius: inherit;
    align-items: flex-end;
  }
  .banner.expand .menu .menu-inner {
    margin-top: 0;
  }
  .menu-icon {
    position: fixed;
    bottom: 4vw;
    right: 4vw;
    display: block;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #caad8c;
    /* box-shadow: 1vw 1vw rgb(73 38 10 / 30%); */
    padding: 2.5vw;
    transform: rotate(-45deg);
    animation: rotate2 .8s ease-in-out forwards;
    z-index: 10;
  }
  .banner.expand .menu-icon {
    transform: rotate(0);
    animation: rotate .8s ease-in-out forwards;
  }
  .banner > .logo > span {
    font-size: 1.75rem;
  }
  .menu-block {
    position: relative;
    width: fit-content;
    height: 10.5vw;
    background-color: rgba(246, 237, 221, .9);
    flex-direction: row;
    border-radius: 7vw;
    border-width: 0;
    border: 1vw solid transparent;
  }
  .menu-block span {
    white-space: nowrap;
    color:#623b1c;
    font-weight: 700;
    padding: 0 2vw 0 3vw;
    font-size: 1.75rem;
  }
  .menu-block img {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    padding: 1.5vw;
    background-color: #caad8c;
    border: 1vw solid rgba(246, 237, 221, .9);
    margin-right: -1vw;
  }
  .menu-block.hover, .menu-block:hover {
    border-color: #f6eddd;
    background-color:#623b1c;
  }
  .menu-block.hover span, .menu-block:hover span {
    color: #f6eddd;
  }

  .back-to-top {
    width: 7vw;
    height: 7vw;
    bottom: 20vw;
    right: 4vw;
  }
}

@media only screen and (min-device-width: 1025px) {
  .menu-block {
    font-size: 1.5vw;
  }
}