.container {
  width: 80vw;
  height: 50vw;
}
.container div {
  width: 100%;
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
.carousel-item .tips {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,.5);
  padding: 1vw;
}
*, ::after, ::before {
  box-sizing: unset !important;
}