@keyframes shake {
  0% {transform: rotate(0);}
  15% {transform: rotate(-6deg);}
  30% {transform: rotate(0);}
  45% {transform: rotate(6deg);}
  60% {transform: rotate(0);}
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15vh;
  padding: 5vh 0;
  background-color: #f6eddd;
  z-index: 5;
}
.page-title-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 3vh 0;
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-around !important;
}
.icons.single-icon {
  justify-content: center;
}

.icon-block {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  box-shadow: 5px 10px rgb(73 38 10 / 10%);
  transition: all .3s;
  cursor: pointer;
}

.icon-block .icon {
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-block .icon img {
  height: 70%;
  margin: auto;
  top: 0;
  left: 0;
}
.icon-block .icon span {
  position: absolute;
  padding: 0.4vh 1.5vh;
  bottom: -1.5vh;
  border-radius: 1vh;
  background-color: #623b1c;
  color: white;
  font-weight: 900;
  text-align: center;
  max-width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all .3s;
}
.icon-block:hover .icon span {
  display: block;
  overflow: visible;
}
.icon-block .arrow {
  height: 20%;
  width: 100%;
  background-color: #623b1c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
}
.icon-block .arrow img {
  height: 50%;
  padding-top: 5%;
}

.icon-block:hover {
  animation-name: shake;
  animation-duration: 2s;
}
.icon-block:hover .arrow {
  background-color: #F2EDD7;
}
.icon-block:hover .icon span {
  background-color: #F2EDD7;
  color: #623b1c;
}

.section {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  z-index: 5;
}
.section .seciton-title-wrapper {
  display: flex;
  flex-direction: row;
}
.section .section-title-pre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 1.5vw;
  background-color: #f7f3e9;
  font-size: 2vw;
}
.section .section-title {
  width: 15vw;
  height: 5vw;
  border-top-right-radius: 3vw;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 10px rgb(73 38 10 / 10%);
  min-width: fit-content;
  padding: 0 1.5vw;
}
.section .section-title span, .section .section-title-pre span {
  height: 100%;
  width: 70%;
  min-width: fit-content;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #caad8c;
  color: #623b1c;
  font-weight: 700;
  white-space: nowrap;
  min-width: fit-content;
}
.section .section-content {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: fit-content;
  min-height: 100px;
  background-color: white;
  padding: 3vw;
  box-shadow: 5px 10px rgb(73 38 10 / 10%);
  font-size: 1vw;
}

@media only screen and (max-device-width: 767px) {
  .icons {
    margin-top: 0;
    height: 35vw;
    background-color: transparent;
    align-items: flex-end;
    width: 86vw;
  }
  .icon-block {
    overflow: visible;
    height: 15vw;
    width: 15vw;
    background-color: rgba(255,255,255,.7);
  }
  .icon-block:hover {
    animation: none;
  }
  .icon-block.selected, .single-icon .icon-block {
    height: 30vw;
    width: 30vw;
    background-color: white;
  }
  .icon-block .icon {
    height: 100%;
  }
  .icon-block:hover .icon span, .icon-block .icon span {
    display: none;
  }
  .icon-block .arrow {
    display: none;
  }
  .section {
    padding-top: 0;
    /* margin-top: -3.5vh; */
  }
  .section .section-title {
    width: 86vw;
    height: 10vw;
    min-width: unset;
    padding: unset;
    border-top-right-radius: unset;
  }
  .section .section-title span {
    width: 30vw;
    height: 10vw;
    font-size: 3.5vw;
    border: .6vw solid #f6eddd;
    border-radius: 4vw 4vw 1vw 1vw;
    background-color: #623b1c;
    background-color: #623b1c;
    color: #f6eddd;
    margin-top: -4vw;
  }
  .section .section-title span:not(:first-child) {
    margin-right: -3px;
  }
  .section .section-content {
    font-size: 2.5vw;
  }
}

@media only screen and (min-device-width: 1025px) {
  .icon-block .icon {
    font-size: 1.2vw;
  }
}