@font-face {
  font-family: NotoSansTC-Regular;
  src: url("../assets/Fonts/NotoSansTC-Regular.otf") format("opentype");
}

body#body {
  margin: 0px;
  font-size: 62.5%;
  font-family: 'NotoSansTC-Regular';
}
body#body.fixed {
  overflow: hidden;
}

body#body {
  position: relative;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #49260a;
  padding-bottom: calc(10vh + 250px);
}
body#body > .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #49260a),  url('../assets/books.jpg');
  /* background-size: cover;
  background-repeat  : no-repeat; */
  background-size: contain;
  background-repeat  : repeat;
}

.mobile {
  display: none;
}

.special-text {
  font-family: '標楷體';
}

a {
  text-decoration: none;
  color: unset;
}

.p-title {
  white-space: pre;
}
#footer {
  background-color: #171010;
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #CDBBA7;

  position: absolute;
  bottom: 0;
  left: 0;
  white-space: pre;
  text-align: center;
}
#footer span {
  padding: 5px;
}

@media (min-device-width: 768px) {
  .mobile {
    display: none !important;
  }
  .desktop {
    display: block;
  }
}

@media (max-device-width: 767px) {
  body#body {
    font-size: 1.5rem;
  }
  body#body > .cover {
    position: fixed;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none !important;
  }
  #blur-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 9;
    display: none;
  }
  #blur-cover.expand {
    display: block;
  }
  #footer {
    height: 250px;
  }
}

@media only screen and (min-device-width: 1025px) {
  body#body {
    font-size: 1.2vw;
  }
}