#home-page {
  width: 100%;
  height: fit-content;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  background-image: url('../assets/books.jpg');
  background-size: contain;
  overflow: hidden;
}
.home-cover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgba(0,0,0,.5); */
}

.title-container {
  height: 50vw;
  width: 50vw;
  transform: scale(1.5) translateX(-15vw) rotate(45deg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(0,0,0,.5);
}
.title {
  height: 50%;
  width: 50%;
  color: #f6eddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}
.title > .top {
  font-size: 32px;
  letter-spacing: 9px;
}
.title > .second {
  padding-top: 20px;
  font-size: 10px;
  opacity: 80%;
  letter-spacing: 2px;
}

.vertical-line {
  height: 70%;
  width: 2px;
  background-color: #f6eddd;
}

.kite-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-6vw) rotate(45deg);
  /* width: fit-content; */
  width: 38vw;
  height: 38vw;
  max-width: 60vh;
  max-height: 60vh;
}
.kite-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kite {
  position: relative;
  width: 10vw;
  height: 10vw;
  max-width: 16vh;
  max-height: 16vh;
  border: .5vw solid #f6eddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5vh;
  opacity: 90%;
  background-color: rgba(0,0,0,.4);
}
.kite.empty {
  border-color: transparent;
  background-color: transparent;
}
.kite:hover {
  opacity: 100%;
}

.kite span {
  color: #f6eddd;
  transform: rotate(-45deg);
  font-weight: 900;
  font-size: 0.9rem;
}
.kite:hover:not(.empty) span {
  color: #623b1c;
}

.kite-inner {
  width: 9vw;
  height: 9vw;
  max-width: 15vh;
  max-height: 15vh;
  border: .3vw solid #f6eddd;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .4s;
}
.kite:hover:not(.empty) > .kite-inner {
  background-color: #f6eddd;
}

body#body {
  padding-bottom: 200px;
}

@media (max-device-width: 767px) {
  body#body {
    /* height: 100%; */
    padding: 0;
    padding-bottom: 250px;
  }
  .home-cover {
    flex-direction: column;
    justify-content: flex-start;
  }
  .title-container {
    transform: unset;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  .title-container .title {
    transform: unset;
    width: 80%;
  }
  .title-container .title .top {
    font-size: 7rem;
  }
  .title-container .title .second {
    font-size: 2.4rem;
  }
  .kite-container {
    position: absolute;
    top: 40vh;
    width: 70vw;
    height: 70vw;
    transform: rotate(45deg);
  }
  .kite {
    width: 19vw;
    height: 19vw;
    max-width: 32vh;
    max-height: 32vh;
    background-color: rgba(0,0,0,.4);
    border-width: .6vw;
  }
  .kite-inner {
    width: 18vw;
    height: 18vw;
    max-width: 30vh;
    max-height: 30vh;
    border-width: .4vw;
  }
  .kite span {
    font-size: 1.75rem;
  }
}

@media (min-device-width: 1440px) and (max-device-width: 1979px) {
  .kite span {
    font-size: 1.2rem;
  }
  .title > .top {
    font-size: 2.7rem;
  }
  .title > .second {
    font-size: 1rem;
  }
} 

@media (min-device-width: 1980px) {
  .kite span {
    font-size: 1.5rem;
  }
  .title > .top {
    font-size: 3.2rem;
  }
  .title > .second {
    font-size: 1.2rem;
  }
} 