body {
  padding-bottom: 20vh;
}

.list > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.list {
  position: relative;
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.list div {
  padding: 1vw;
  padding-right: 2vw;
  font-weight: 500;
}
.list div.date ,.list div.location {
  padding: .4vw .8vw;
  border-top-right-radius: 1.5vw;
  border-color: rgb(202 173 140 / 10%);
  border-top: 3px solid white;
  border-right: 3px solid white;
  color: #f6eddd;
  width: fit-content;
  font-size: 1rem;
  z-index: 2;
}
.list div.date {
  background-color: #c7b198;
}
.list div.location {
  background-color: #91684a;
  padding-left: 20px;
  transform: translateX(-10px);
  z-index: 1;
}
.list div.title {
  flex-grow: 1;
  height: fit-content;
  color: #623b1c;
  background-color: rgb(202 173 140 / 10%);
  border-top: 3px solid rgb(202 173 140 / 15%);
  border-left: 3px solid rgb(202 173 140 / 15%);

  cursor: pointer;
}
.list div.title:hover {
  background-color: rgb(202 173 140 / 25%);
  color: #5E454B;
}
.tag-section {
  display: flex;
  flex-direction: row;
  padding: 0 !important;
}

.more {
  align-self: flex-end;
  cursor: pointer;
}
.more:hover {
  font-weight: 800;
  text-decoration: underline;
}

@media only screen and (max-device-width: 767px) {
  .list div {
    padding: 1.5vw;
    padding-right: 2vw;
    font-size: 1.5rem;
  }
  .list div.date, .list div.location {
    padding: .4vw 1.8vw;
    border-top-right-radius: 3vw;
    font-size: 1.25rem;
  }
  .list div.location {
    padding-left: 20px;
  }
}