@keyframes shake {
  0% {transform: rotate(0);}
  15% {transform: rotate(-6deg);}
  30% {transform: rotate(0);}
  45% {transform: rotate(6deg);}
  60% {transform: rotate(0);}
}

.icons {
  justify-content: center !important;
}

.section .section-content {
  background-color: transparent !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.list {
  position: relative;
  margin: 4vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  min-width: 150px;
  border-radius: 2vw;
  padding: 1.5vw;
  padding-top: 5vw;
  padding-bottom: 3vw;
  background-color: #f6eddd;
  border: 3px solid transparent;
  /* align-items: center; */
  transition: all .3s;
}
.list:hover, .list.selected {
  background-color: #845460;
}
.list > .img-line {
  position: absolute;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  top: -5.5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(246,237,221,.6);
  border: .5vw solid white;
  overflow: hidden;
}
.list > .img-line > img:not(.default-img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list > .img-line > img.default-img {
  width: 6vw;
  height: 6vw;
  border-radius: 0;
}

.list div.title-line,
.list div.author-line,
.list div.location-line,
.list div.date-line,
.list div.people-line,
.list div.registration-line,
.list div.contact-line {
  padding: 1vw 2vw;
  font-weight: 500;
  background: white;
  width: 19vw;
  box-shadow: 5px 8px rgb(73 38 10 / 10%);
}

.list div.title-line {
  background-color: #845460;
  color: white;
  width: 70%;
  margin-bottom: -2vw;
  margin-top: 1vw;
  font-weight: 700;
  z-index: 2;
  font-size: 1.25vw;
  text-align: center;
  transition: all .3s;
}
.list:hover div.title-line, .list.selected div.title-line {
  background-color: #f6eddd;
  color: #845460;
}

.list div.board-section {
  padding-top: 2.5vw;
  background-color: white;
}

.list div.author-line {
  display: flex;
  flex-direction: column;
}
.list div.author-line > .author-title {
  font-weight: 900;
  color: #623b1c;
}

.list .tips {
  color: rgba(0,0,0,.4);
  font-weight: 700;
}

.list div.dotted-line {
  width: 19vw;
  height: 2px;
  margin: 0;
  padding: 0;
  background-color: rgba(177, 118, 118, 0.3);
  border-left: 2vw solid white;
  border-right: 2vw solid white;
}

.list div.registration-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.list div.registration-line > .registration-btn {
  font-size: 1vw;
  font-weight: 800;
  width: 12vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #966c3b;
  border: .2vw solid #966c3b;
  border-radius: 2.2vw;
  padding: 0;
  cursor: pointer;
  transition: all .3s;
  text-decoration: none;
}
.list div.registration-line > .registration-btn:hover {
  background-color: #966c3b;
  color: #f6eddd;
}

.list div.contact-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list div.contact-line .text {
  color: #966c3b;
}
.list div.contact-line .contact-person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-device-width: 767px) {
  .section {
    width: 86vw;
  }
  .section .section-title {
    width: 100vw;
    margin-left: -7vw;
    background-color: rgba(255,255,255,.6);
  }
  .section .section-content {
    width: 100%;
    padding-top: 12vh;
  }
  .list {
    width: 38vw;
    height: 55vw;
    margin: 0;
    margin-bottom: 10vh;
    padding-top: 10vw;
    padding-bottom: 8vw;
  }
  .list > .img-line {
    width: 19vw;
    height: 19vw;
    top: -12vw;
    left: 9.5vw;
    border-width: 1vw;
  }
  .list > .img-line > img:not(.default-img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .list > .img-line > img.default-img {
    width: 13vw;
    height: 13vw;
    border-radius: 0;
  }
  .list div.title-line,
  .list div.author-line,
  .list div.location-line,
  .list div.date-line,
  .list div.people-line,
  .list div.registration-line,
  .list div.contact-line {
    width: 32vw;
    padding: 1.5vw 2vw;
    font-size: 1.5rem;
  }
  .list div.dotted-line {
    width: 32vw;
    padding: 0;
  }

  .list div.registration-line {
    padding-top: 3.5vw;
    padding-bottom: 3vw;
  }
  .list div.registration-line > .registration-btn {
    font-size: 1.25rem;
    width: 18vw;
    height: 6vw;
    border-radius: 3.2vw;
  }

  .mdate .after {
    
  }
}