body {
  padding-bottom: 20vh;
}

.list > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.list {
  position: relative;
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.list div {
  padding: 1vw;
  padding-right: 2vw;
  font-weight: 500;
}
.list div.date ,.list div.location {
  padding: .4vw .8vw;
  border-top-right-radius: 1.5vw;
  border-color: rgb(202 173 140 / 10%);
  border-top: 3px solid white;
  border-right: 3px solid white;
  color: #f6eddd;
  width: fit-content;
  font-size: 1rem;
  z-index: 2;
}
.list div.date {
  background-color: #c7b198;
}
.list div.location {
  background-color: #91684a;
  padding-left: 20px;
  transform: translateX(-10px);
  z-index: 1;
}
.list div.title {
  flex-grow: 1;
  height: fit-content;
  color: #623b1c;
  background-color: rgb(202 173 140 / 10%);
  border-top: 3px solid rgb(202 173 140 / 15%);
  border-left: 3px solid rgb(202 173 140 / 15%);

  cursor: pointer;
}
.list div.title:hover {
  background-color: rgb(202 173 140 / 25%);
  color: #5E454B;
}
.tag-section {
  display: flex;
  flex-direction: row;
  padding: 0 !important;
}

.icons {
  justify-content: center !important;
}

div.page-title {
  /* Desktop Version */
  min-height: 20vw;
}
.page-title-text {
  font-size: 1.5vw;
  padding: 5vw;
  line-height: 1.8;
}

.section .section-content {
  background-color: #eae3c8;
}

.sub-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0px;
  background-color: #f6eddd;
  overflow: hidden;
  box-shadow: 5px 10px rgb(73 38 10 / 10%);
  height: 40vw;
  min-height: fit-content;
}

.huge-circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 5px 10px rgb(145 104 74 / 50%);
}
#activity .huge-circle {
  margin-right: -20vw;
}
#speak .huge-circle {
  margin-left: -20vw;
}

.sub-section .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100% - 35vw);
  padding: 2vw;
}
.sub-section .info .info-section {
  display: flex;
  flex-direction: row;
  margin: .5vw 0;
  padding-left: 1.5vw;
  word-break: keep-all;
}
.sub-section .info .info-section span {
  padding: .5vw 1vw;
  display: flex;
}
.sub-section .info .info-section span.title {
  background-color: #91684a;
  margin-right: .7vw;
  border-radius: .7vw;
  color: white;
  min-width: fit-content;
}

.sub-section img {
  /* width: 23vw;
  height: auto; */
  width: auto;
  height: 100%;
  object-fit: cover;
}
#activity .sub-section img {
  /* margin-left: 5vw; */
  width: auto;
  height: 100%;
  object-fit: cover;
}
#speak .sub-section img {
  margin-left: 20vw;
}

.fake-cover {
  display: none;
  height: 15vw;
  width: 45vw;
  background-color: #f6eddd;
}

.image-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: unset;
}
.image-section img {
  display: flex;
  width: 45%;
  height: auto;
}
#judge .sub-section {
  flex-direction: column;
  align-items: flex-start;
  height: unset;
  min-height: 40vw;
}

@media only screen and (max-device-width: 767px) {
  .page-title {
    margin-top: 5vh;
  }
  .page-title-text {
    font-size: 2.8vw;
  }
  .section {
    margin-top: 10vw;
  }
  .sub-section {
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: fit-content;
    margin-top: 40vw;
    overflow: visible;
  }
  .sub-section .info {
    width: calc(100% - 3vw);
    max-width: unset;
    padding: 1.5vw;
    z-index: 3;
  }
  .huge-circle {
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: -35vw;
    margin-right: unset;
    margin-left: unset;
    z-index: 2;
    flex-direction: column;
    box-shadow: 0 -10px rgb(145 104 74 / 50%);
  }
  .fake-cover {
    display: block;
  }
  .sub-section img {
    min-height: 35vw;
    min-width: 45vw;
    margin-left: unset;
    margin-right: unset;
  }
}

@media only screen and (max-device-width: 767px) {
  .list div {
    padding: 1.5vw;
    padding-right: 2vw;
    font-size: 1.5rem;
  }
  .list div.date, .list div.location {
    padding: .4vw 1.8vw;
    border-top-right-radius: 3vw;
    font-size: 1.25rem;
  }
  .list div.location {
    padding-left: 20px;
  }

  .judge .sub-section {
    flex-direction: column;
    margin-top: 4vw;
  }
  .judge .image-section {
    flex-direction: column;
  }
  .judge .sub-section img {
    width: 90%;
    height: auto;
  }
}
