<template>
  <el-container class="outmost-container">
    <el-header style="background-color: #42b983; opacity: 0.7; height: 60px"></el-header>
    <el-container>
      <el-aside width="200px" class="app-aside">
        <Aside />
      </el-aside>
      <el-main>
        <router-view class="router-container"/>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import Aside from '@/components/aside'

export default {
  components: {
    Aside
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0px;
}

.cell img {
  max-width: 200px;
  max-height: 300px;
}
</style>

<style scoped>
.router-container {
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.app-aside {
  border-right: 1px solid #ebebeb;
}
</style>