<template>
  <el-menu
    class="el-menu-vertical-demo aside"
  >
    <router-link to="/activity">
      <el-menu-item index="1">
        <i class="el-icon-s-flag"></i>
        <span>活動資料</span>
      </el-menu-item>
    </router-link>
    <router-link to="/activityRecord">
      <el-menu-item index="6">
        <i class="el-icon-s-flag"></i>
        <span>活動成果</span>
      </el-menu-item>
    </router-link>
    <router-link to="/meeting">
      <el-menu-item index="2">
        <i class="el-icon-chat-line-round"></i>
        <span>會議資料</span>
      </el-menu-item>
    </router-link>
    <router-link to="/books">
      <el-menu-item index="3">
        <i class="el-icon-notebook-2"></i>
        <span>書籍資料</span>
      </el-menu-item>
    </router-link>
    <router-link to="/files">
      <el-menu-item index="4">
        <i class="el-icon-files"></i>
        <span>檔案上傳</span>
      </el-menu-item>
    </router-link>
    <router-link to="/onlineSearchLinks">
      <el-menu-item index="5">
        <i class="el-icon-files"></i>
        <span>線上資料庫連結</span>
      </el-menu-item>
    </router-link>
    <router-link to="/target">
      <el-menu-item index="6">
        <i class="el-icon-files"></i>
        <span>推動目的</span>
      </el-menu-item>
    </router-link>
    <router-link to="/member">
      <el-menu-item index="7">
        <i class="el-icon-chat-line-round"></i>
        <span>認識圈員</span>
      </el-menu-item>
    </router-link>
    <router-link to="/award">
      <el-menu-item index="8">
        <i class="el-icon-chat-line-round"></i>
        <span>榮譽專區</span>
      </el-menu-item>
    </router-link>
    <router-link to="/defaultInfo">
      <el-menu-item index="9">
        <i class="el-icon-chat-line-round"></i>
        <span>頁首/頁尾資訊</span>
      </el-menu-item>
    </router-link>
    <router-link to="/user">
      <el-menu-item index="10">
        <i class="el-icon-chat-line-round"></i>
        <span>使用者資料</span>
      </el-menu-item>
    </router-link>
    <el-button class="logout" @click="logout">登出</el-button>
  </el-menu>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    adminAccount() {
      console.log(window.localStorage.getItem('account'), 'admin');
      return window.localStorage.getItem('account') === 'admin';
    }
  },
  methods: {
    logout() {
      window.localStorage.removeItem("token")
      window.localStorage.removeItem("account")

      this.$router.push("login")
    }
  }
};
</script>

<style lang="scss">
.aside {
  width: 100%;
  border: none !important;
  a {
    text-decoration: none;
  }

  .logout {
    margin-top: 20px;
  }
}
</style>
