<template>
  <div class="activity-container">
    <h1>組別</h1>
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增榮譽" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
           <el-form-item label="獲獎者" prop="title">
            <el-input v-model="form.title" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="獲獎者單位" prop="identity">
            <el-radio-group v-model="form.identity">
              <el-radio-button label="team">團體</el-radio-button>
              <el-radio-button label="person">個人</el-radio-button>
            </el-radio-group>
          </el-form-item>
           <el-form-item label="競賽名稱" prop="competition">
            <el-input v-model="form.competition" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="獎項名稱" prop="award">
            <el-input v-model="form.award" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="領域類別" prop="tag">
            <el-select v-model="form.tag" placeholder="請選擇領域類別">
              <el-option
                v-for="tag in tagData"
                :key="tag.id"
                :label="tag.title"
                :value="tag.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="title" label="獲獎者" width="150">
      </el-table-column>
      <el-table-column prop="identity" label="獲獎者單位" width="200">
      </el-table-column>
      <el-table-column prop="competition" label="競賽名稱" width="200">
      </el-table-column>
      <el-table-column prop="award" label="獎項名稱" width="150">
      </el-table-column>
      <el-table-column prop="tag" label="領域類別" width="120">
        <template #default="scope">
          <span>{{ correctTagData(scope.row.tag) }}</span>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.title, scope.row.identity, scope.row.competition, scope.row.award, scope.row.tag)">修改</el-button>
          <el-button type="text" @click="deleteTarget(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改活動資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
           <el-form-item label="獲獎者" prop="title">
            <el-input v-model="updateForm.title" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="獲獎者單位" prop="identity">
            <el-radio-group v-model="updateForm.identity">
              <el-radio-button label="team">團體</el-radio-button>
              <el-radio-button label="person">個人</el-radio-button>
            </el-radio-group>
          </el-form-item>
           <el-form-item label="競賽名稱" prop="competition">
            <el-input v-model="updateForm.competition" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="獎項名稱" prop="award">
            <el-input v-model="updateForm.award" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="領域類別" prop="tag">
            <el-select v-model="updateForm.tag" placeholder="請選擇領域類別">
              <el-option
                v-for="tag in tagData"
                :key="tag.id"
                :label="tag.title"
                :value="tag.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  props: {
    tagData: {
      type: Array,
      required: true
    }
  },
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        title: "",
        identity: "team",
        competition: "",
        award: "",
        tag: -1
      },
      updateForm: {
        id: 0,
        title: -1,
        identity: "team",
        competition: "",
        award: "",
        tag: -1
      },
      rules: {
        title: [
          { required: true, type: "string", message: "請輸入組別名稱", trigger: 'blur' }
        ],
        identity: [
          { required: true, type: "string", message: "請輸入時程", trigger: 'blur' }
        ],
        competition: [
          { required: true, type: "string", message: "請輸入彙整方式", trigger: 'blur' }
        ],
        award: [
          { required: true, type: "string", message: "請輸入主辦單位", trigger: 'blur' }
        ],
      }
    };
  },
  methods: {
    correctTagData(tagId) {
      for (const tag of this.tagData) {
        if (tag.id === tagId) {
          return tag.title;
        }
      }
      return '無所屬';
    },
    async create() {
      // this.form.link = this.fileTmpLink
      // this.form.link_file_id = this.fileTmpId

      // let isValid
      // await this.$refs["createForm"].validate((valid) => {
      //   isValid = valid
      // });

      // if (!isValid) return

      this.dialogFormLoading = true

      try {
        await post(`${ServerUrl}/management/award/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, title, identity, competition, award, tag) {
      // Process Input
      this.updateForm = { id, title, identity, competition, award, tag }
      // if (this.$refs["updateUpload"]) this.$refs["updateUpload"].clearFiles()

      // this.fileTmpLink = link
      // this.fileTmpId = link_file_id
      this.updateFormVisible = true
    },

    async update() {
      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.updateFormLoading = true

      // if (this.fileTmpLink != "") {
      //   this.fileDelete(this.updateForm.link_file_id)

      //   this.updateForm.link = this.fileTmpLink
      //   this.updateForm.link_file_id = this.fileTmpId
      // }
      
      try {
        await post(`${ServerUrl}/management/award/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        title: "",
        identity: "team",
        competition: "",
        award: "",
        tag: -1
      }

      this.fileClean()
      if (this.$refs["createUpload"]) this.$refs["createUpload"].clearFiles()
    },

    async deleteTarget(id) {
      await post(`${ServerUrl}/management/award/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    async getData() {
      try {
        let data = await get(`${ServerUrl}/management/award/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        console.log(err);
      }
    }
  },
  watch: {
    tableData() {
      this.$emit('updateTeam', this.tableData);
    }
  },
  async mounted() {
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
    // this.getData()
  },
};
</script>

<style lang="scss">
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>