<template>
  <div class="activity-container">
    <h1>人員</h1>
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增人員" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
           <el-form-item label="姓名" prop="name">
            <el-input v-model="form.name" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="職稱" prop="role">
            <el-input v-model="form.role" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="服務單位" prop="host">
            <el-input v-model="form.host" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="隸屬區域" prop="district">
            <el-input v-model="form.district" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="隸屬組別" prop="team">
            <el-select v-model="form.team" placeholder="請選擇組別">
              <el-option
                v-for="team in teamData"
                :key="team.id"
                :label="team.title"
                :value="team.id">
              </el-option>
            </el-select>
          </el-form-item>
           <el-form-item label="聯絡電話 - 請輸入純數字(例:035731319)" prop="phone">
            <el-input v-model="form.phone" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="分機號碼" prop="extension">
            <el-input v-model="form.extension" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="電子郵件" prop="email">
            <el-input v-model="form.email" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="name" label="姓名" width="200">
      </el-table-column>
      <el-table-column prop="role" label="職稱" width="200">
      </el-table-column>
      <el-table-column prop="host" label="服務單位" width="200">
      </el-table-column>
      <el-table-column prop="district" label="隸屬區域" width="200">
      </el-table-column>
      <el-table-column prop="team" label="隸屬組別" width="200">
      </el-table-column>
      <el-table-column prop="phone" label="聯絡電話" width="200">
      </el-table-column>
      <el-table-column prop="extension" label="分機號碼" width="200">
      </el-table-column>
      <el-table-column prop="email" label="電子郵件" width="200">
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.name, scope.row.role, scope.row.host, scope.row.district, scope.row.team, scope.row.phone, scope.row.extension, scope.row.email)">修改</el-button>
          <el-button type="text" @click="deleteTarget(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改活動資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
           <el-form-item label="姓名" prop="name">
            <el-input v-model="updateForm.name" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="職稱" prop="role">
            <el-input v-model="updateForm.role" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="服務單位" prop="host">
            <el-input v-model="updateForm.host" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="隸屬區域" prop="district">
            <el-input v-model="updateForm.district" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="隸屬組別" prop="team">
            <el-select v-model="updateForm.team" placeholder="請選擇組別">
              <el-option
                v-for="team in teamData"
                :key="team.id"
                :label="team.title"
                :value="team.id">
              </el-option>
            </el-select>
          </el-form-item>
           <el-form-item label="聯絡電話 - 請輸入純數字(例:035731319)" prop="phone">
            <el-input v-model="updateForm.phone" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="分機號碼" prop="extension">
            <el-input v-model="updateForm.extension" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="電子郵件" prop="email">
            <el-input v-model="updateForm.email" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  props: {
    teamData: {
      type: Array,
      required: true
    }
  },
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        name: '',
        role: '',
        host: '',
        district: '',
        team: -1,
        phone: '',
        extension: '',
        email: ''
      },
      updateForm: {
        id: 0,
        name: '',
        role: '',
        host: '',
        district: '',
        team: -1,
        phone: '',
        extension: '',
        email: ''
      },
      rules: {
        name: [
          { required: true, type: "string", message: "請輸入姓名", trigger: 'blur' }
        ],
        team: [
          { required: true, type: "number", message: "請選擇隸屬組別", trigger: 'blur' }
        ],
      }
    };
  },
  methods: {
    async create() {
      // this.form.link = this.fileTmpLink
      // this.form.link_file_id = this.fileTmpId

      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.dialogFormLoading = true

      try {
        await post(`${ServerUrl}/management/member/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, name, role, host, district, team, phone, extension, email) {
      // Process Input
      this.updateForm = { id, name, role, host, district, team, phone, extension, email }
      // if (this.$refs["updateUpload"]) this.$refs["updateUpload"].clearFiles()

      // this.fileTmpLink = link
      // this.fileTmpId = link_file_id
      this.updateFormVisible = true
    },

    async update() {
      // let isValid
      // await this.$refs["updateForm"].validate((valid) => {
      //   isValid = valid
      // });

      // if (!isValid) return

      this.updateFormLoading = true

      // if (this.fileTmpLink != "") {
      //   this.fileDelete(this.updateForm.link_file_id)

      //   this.updateForm.link = this.fileTmpLink
      //   this.updateForm.link_file_id = this.fileTmpId
      // }
      
      try {
        await post(`${ServerUrl}/management/member/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        name: '',
        role: '',
        host: '',
        district: '',
        team: -1,
        phone: '',
        extension: '',
        email: ''
      }

      // this.fileClean()
      // if (this.$refs["createUpload"]) this.$refs["createUpload"].clearFiles()
    },

    async deleteTarget(id) {
      await post(`${ServerUrl}/management/member/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    async getData() {
      console.log('getData');
      try {
        let data = await get(`${ServerUrl}/management/member/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        console.log(err);
      }
    }
  },
  async mounted() {
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
    // this.getData()
  },
};
</script>

<style lang="scss">
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>