<template>
  <div class="activity-container">
    <div class="header">
      <!-- <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button> -->
      <el-dialog title="新增推動目的介紹" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="推動目的" prop="target">
            <tiptap v-model="form.target" />
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="target" label="Our Target 推動目的" width="300">
        <template #default="scope">
          <div v-html="scope.row.target"></div>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.target)">修改</el-button>
          <!-- <el-button type="text" @click="deleteTarget(scope.row.id)">刪除</el-button> -->
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改活動資料" v-model="updateFormVisible">
      <el-form :model="updateForm" :rules="rules" ref="updateForm">
          <el-form-item label="推動目的" prop="target">
            <tiptap v-model="updateForm.target" />
          </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
          <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import Tiptap from '@/components/tiptap'
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  components: { Tiptap },
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        target: ''
      },
      updateForm: {
        id: 0,
        target: ''
      },
      rules: {
        target: [
          { required: true, type: "string", message: "推動目的不可空白", trigger: 'blur' }
        ],
      }
    };
  },
  methods: {
    async create() {

      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.dialogFormLoading = true

      try {
        await post(`${ServerUrl}/management/targetText/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },
    openUpdate(id, target) {
      // Process Input
      this.updateForm = { id, target }
      if (this.$refs["updateUpload"]) this.$refs["updateUpload"].clearFiles()
      this.updateFormVisible = true
    },

    async update() {
      this.updateFormLoading = true
      try {
        console.log('updateForm', this.updateForm);
        await post(`${ServerUrl}/management/targetText/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    async deleteTarget(id) {
      await post(`${ServerUrl}/management/targetText/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        target: ''
      }
      if (this.$refs["createUpload"]) this.$refs["createUpload"].clearFiles()
    },

    async getData() {
      try {
        let data = await get(`${ServerUrl}/management/targetText/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        console.log(err);
      }
    }
  },
  async mounted() {
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
    // this.getData()
  },
};
</script>

<style lang="scss">
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>