<template>
  <div class="activityRecords-container">
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true; clean()" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增閱讀活動成果" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="活動名稱" prop="title">
            <el-input v-model="form.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="成果分類" prop="type">
            <el-select v-model="form.type" placeholder="選擇類別">
              <el-option label="共讀活動" value="共讀活動"></el-option>
              <el-option label="專題演講" value="專題演講"></el-option>
              <el-option label="培訓評審" value="培訓評審"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="form.type == '共讀活動'" label="書籍名稱" prop="book">
            <el-input v-model="form.book" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item v-if="form.type == '共讀活動' || form.type == '專題演講'" label="導讀人 / 講者" prop="author">
            <el-input v-model="form.author" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="地點" prop="location">
            <el-input v-model="form.location" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="活動日期" prop="date">
                  <el-input v-model="form.date" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="活動時間範圍" prop="timeRange">
                  <el-input v-model="form.timeRange" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="內容摘述" prop="content">
            <el-input v-model="form.content" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
          <el-form-item label="第一張圖片上傳">
            <el-upload
              ref="createUpload1"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="第一張圖片連結" prop="image_link1">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="第二張圖片上傳">
            <el-upload
              ref="createUpload2"
              :action="fileUploadRoute2"
              :before-upload="fileCheck2"
              :headers="fileUploadRequestHeader2"
              :on-success="fileOnUploadSuccess2"
              :on-remove="fileOnUploadRemove2"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="第二張圖片連結" prop="image_link2">
            <el-input v-model="fileTmpLink2" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="title" label="Title 活動標題" width="300">
      </el-table-column>
      <el-table-column prop="type" label="Type 活動分類" width="300">
      </el-table-column>
      <el-table-column prop="author" label="Author 導讀人 / 講者" width="200">
      </el-table-column>
      <el-table-column prop="book" label="Book 書籍名稱" width="200">
      </el-table-column>
      <el-table-column
        prop="location"
        label="Location 地點"
        width="200"
      >
      </el-table-column>
      <el-table-column
        prop="time"
        label="Time 時間"
        width="200"
      >
      </el-table-column>
      <el-table-column
        prop="content"
        label="Content 簡述摘要"
        min-width="300"
      >
      </el-table-column>
      <el-table-column
        prop="image_link1"
        label="Image Link 1 第一張圖片連結"
        min-width="250"
      >
      <template #default="scope">
        <a :href="scope.row.image_link1" class="has-link">{{scope.row.image_link1}}</a>
      </template>
      </el-table-column>
      <el-table-column
        prop="image_link2"
        label="Image Link 2 第二張圖片連結"
        min-width="250"
      >
      <template #default="scope">
        <a :href="scope.row.image_link2" class="has-link">{{scope.row.image_link2}}</a>
      </template>
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.title, scope.row.type, scope.row.author, scope.row.location, scope.row.time, scope.row.book, scope.row.content, scope.row.image_link1, scope.row.image_file_id1, scope.row.image_link2, scope.row.image_file_id2)">修改</el-button>
          <el-button type="text" @click="deleteBook(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改活動成果資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
          <el-form-item label="活動名稱" prop="title">
            <el-input v-model="updateForm.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="成果分類" prop="type">
            <el-select v-model="updateForm.type" placeholder="選擇類別">
              <el-option label="共讀活動" value="共讀活動"></el-option>
              <el-option label="專題演講" value="專題演講"></el-option>
              <el-option label="培訓評審" value="培訓評審"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="updateForm.type == '共讀活動'" label="書籍名稱" prop="book">
            <el-input v-model="updateForm.book" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item v-if="updateForm.type == '共讀活動' || updateForm.type == '專題演講'" label="導讀人 / 講者" prop="author">
            <el-input v-model="updateForm.author" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="地點" prop="location">
            <el-input v-model="updateForm.location" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="活動日期" prop="date">
                  <el-input v-model="updateForm.date" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="活動時間範圍" prop="timeRange">
                  <el-input v-model="updateForm.timeRange" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="內容摘述" prop="content">
            <el-input v-model="updateForm.content" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
          <el-form-item label="第一張圖片上傳">
            <el-upload
              ref="updateUpload1"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="第一張圖片連結" prop="image_link1">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="第二張圖片上傳">
            <el-upload
              ref="updateUpload2"
              :action="fileUploadRoute2"
              :before-upload="fileCheck2"
              :headers="fileUploadRequestHeader2"
              :on-success="fileOnUploadSuccess2"
              :on-remove="fileOnUploadRemove2"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="第二張圖片連結" prop="image_link2">
            <el-input v-model="fileTmpLink2" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    let file2 = UploadFile()

    // Data
    let fileUploadRoute2 = file2.fileUploadRoute
    let fileUploadRequestHeader2 = file2.fileUploadRequestHeader
    let fileTmpLink2 = file2.fileTmpLink
    let fileTmpId2 = file2.fileTmpId

    // Method
    let fileDelete2 = file2.fileDelete
    let fileCheck2 = file2.fileCheck
    let fileOnUploadSuccess2 = file2.fileOnUploadSuccess
    let fileOnUploadRemove2 = file2.fileOnUploadRemove
    let fileClean2 = file2.fileClean
    let fileCleanAndDelete2 = file2.fileCleanAndDelete

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete,

      // Data
      fileUploadRoute2,
      fileUploadRequestHeader2,
      fileTmpLink2,
      fileTmpId2,

      // Method
      fileDelete2,
      fileCheck2,
      fileOnUploadSuccess2,
      fileOnUploadRemove2,
      fileClean2,
      fileCleanAndDelete2
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        type: "",
        name: "",
        author: "",
        location: "",
        time: "",
        date: "",
        timeRange: "",
        book: "",
        content: "",
        image_link1: "",
        image_file_id1: -1,
        image_link2: "",
        image_file_id2: -1
      },
      updateForm: {
        id: -1,
        type: "",
        name: "",
        author: "",
        location: "",
        time: "",
        date: "",
        timeRange: "",
        book: "",
        content: "",
        image_link1: "",
        image_file_id1: -1,
        image_link2: "",
        image_file_id2: -1
      },

      rules: {
        title: [
          { required: true, message: '請輸入活動名稱', trigger: 'blur' }
        ],
        type: [
          { required: true, message: '請選擇活動類別', trigger: 'blur' }
        ],
        book: [
          { required: true, message: '請輸入書籍名稱', trigger: 'blur' }
        ],
        author: [
          { required: true, message: '請輸入導讀人 / 講者', trigger: 'blur' }
        ],
        date: [
          { required: true, message: '請輸入日期', trigger: 'blur' }
        ],
        timeRange: [
          { required: true, message: '請輸入當天時間範圍', trigger: 'blur' }
        ],
        location: [
          { required: true, message: '請輸入書籍出版商', trigger: 'blur' }
        ],
        content: [
          { required: true, message: '請輸入內容摘述', trigger: 'blur' }
        ],
        image_link1: [
          { required: true, message: '請透過上傳檔案新增地一張圖片連結', trigger: 'blur' }
        ],
        image_link2: [
          { required: true, message: '請透過上傳檔案新增第二張圖片連結', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    async create() {
      this.form.image_link1 = this.fileTmpLink
      this.form.image_file_id1 = this.fileTmpId

      this.form.image_link2 = this.fileTmpLink2
      this.form.image_file_id2 = this.fileTmpId2

      if (this.form.type != "共讀活動" && this.form.type != "專題演講") {
        this.form.author = ""
      }

      if (this.form.type != "共讀活動") {
        this.form.book = ""
      }

      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return
      
      this.dialogFormLoading = true

      this.form.time = `${this.form.date}|${this.form.timeRange}`

      this.fileClean()
      this.fileClean2()

      try {
        await post(`${ServerUrl}/management/activityRecord/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, title, type, author, location, time, book, content, image_link1, image_file_id1, image_link2, image_file_id2) {
      // Process Input
      this.updateForm = {
        id,
        title,
        type,
        author,
        location,
        time,
        book,
        content,
        image_link1,
        image_file_id1,
        image_link2,
        image_file_id2
      }

      if (this.$refs["updateUpload1"]) this.$refs["updateUpload1"].clearFiles()
      if (this.$refs["updateUpload2"]) this.$refs["updateUpload2"].clearFiles()

      this.updateForm.date = time.split("|")[0]
      this.updateForm.timeRange = time.split("|")[1]

      this.fileTmpLink = ""
      this.fileTmpId = -1
      this.fileTmpLink2 = ""
      this.fileTmpId2 = -1
      this.updateFormVisible = true
    },

    async update() {
      if (this.updateForm.type !== "共讀活動" && this.updateForm.type !== "專題演講") {
        this.updateForm.author = ""
      }

      if (this.updateForm.type !== "共讀活動") {
        this.updateForm.book = ""
      }

      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.updateFormLoading = true

      if (this.fileTmpLink != "") {
        this.fileDelete(this.updateForm.image_file_id1)

        this.updateForm.image_link1 = this.fileTmpLink
        this.updateForm.image_file_id1 = this.fileTmpId
      }

      if (this.fileTmpLink2 != "") {
        this.fileDelete2(this.updateForm.image_file_id2)

        this.updateForm.image_link2 = this.fileTmpLink2
        this.updateForm.image_file_id2 = this.fileTmpId2
      }

      this.form.time = `${this.form.date}|${this.form.timeRange}`

      try {
        await post(`${ServerUrl}/management/activityRecord/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        name: "",
        type: "",
        author: "",
        publication: "",
        intro: "",
        image_link: "",
        image_file_id: -1
      }
      this.fileClean()
      if (this.$refs["createUpload1"]) this.$refs["createUpload1"].clearFiles()
      if (this.$refs["createUpload2"]) this.$refs["createUpload2"].clearFiles()
    },

    async getData() {
      try {
        let data = await get(`${ServerUrl}/management/activityRecord/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        this
      }
    },

    async deleteBook(id) {
      await post(`${ServerUrl}/management/activityRecord/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },
  },
  async mounted() {
    if (window.localStorage.getItem("token"))
      this.getData()
  },
};
</script>

<style lang="scss">
.activityRecords-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>