<template>
  <div class="activity-container">
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增活動資料" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="活動名稱" prop="title">
            <el-input v-model="form.title" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="活動介紹文字" prop="desc">
            <el-input v-model="form.desc" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
          <el-form-item label="講者姓名">
            <el-input v-model="form.author_name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="講者頭銜">
            <el-input v-model="form.author_title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="活動人限" prop="seat_limit">
            <el-input-number v-model.number="form.seat_limit" :min="0"></el-input-number>
          </el-form-item>
          <el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="日期" prop="date">
                  <el-input v-model="form.date" autocomplete="off" disabled="true"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="時間範圍" prop="timeRange">
                  <el-input v-model="form.timeRange" autocomplete="off" disabled="true"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-date-picker
                style="margin-left: 15px; margin-top: 10px;"
                v-model="form.date_time"
                @change="selectTime"
                type="datetimerange"
                range-separator="至"
                placeholder="選擇日期時間">
              </el-date-picker>
            </el-row>
          </el-form-item>
          <el-form-item label="活動地點" prop="location">
            <el-input v-model="form.location" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item>
            <el-switch
              v-model="form.submitWithContact"
              active-text="透過聯絡人報名"
              inactive-text="透過連結報名"
            >
            </el-switch>
          </el-form-item>
          <el-form-item v-if="form.submitWithContact">
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="聯絡人名稱" prop="contact_name">
                  <el-input v-model="form.contact_name" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="聯絡人電話" prop="contact_phone">
                  <el-input v-model="form.contact_phone" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="報名連結" prop="link" v-else>
            <el-input v-model="form.link" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="縮圖上傳">
            <el-upload
              ref="createUpload"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="縮圖連結" prop="thumbnail">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="title" label="Title 標題" width="300">
      </el-table-column>
      <el-table-column prop="desc" label="Description 簡介" width="300">
      </el-table-column>
      <el-table-column prop="author_name" label="Author Name 講者姓名" width="300">
      </el-table-column>
      <el-table-column prop="author_title" label="Author Title 講者頭銜" width="300">
      </el-table-column>
      <el-table-column prop="time" label="Time 活動時間" width="200">
      </el-table-column>
      <el-table-column prop="location" label="Location 活動地點" width="200">
      </el-table-column>
      <el-table-column
        prop="seat_limit"
        label="Seat Limit 人數限制"
        width="200"
      >
      </el-table-column>
      <el-table-column prop="thumbnail" label="Thumbnail 縮圖連結" min-width="200">
        <template #default="scope">
          <img :src="scope.row.thumbnail">
          <!-- <a :href="scope.row.thumbnail" class="has-link">{{scope.row.thumbnail}}</a> -->
        </template>
      </el-table-column>
      <el-table-column prop="contact_name" label="Contact Name 聯絡人名稱" width="200">
      </el-table-column>
      <el-table-column prop="contact_phone" label="Contact Phone 聯絡人電話" width="200">
      </el-table-column>
      <el-table-column prop="link" label="Link 報名連結" min-width="200">
        <template #default="scope">
          <a :href="scope.row.link" class="has-link">{{scope.row.link}}</a>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.title, scope.row.desc, scope.row.author_name, scope.row.author_title, scope.row.seat_limit, scope.row.time, scope.row.location, scope.row.link, scope.row.thumbnail, scope.row.thumbnail_file_id, scope.row.contact_name, scope.row.contact_phone)">修改</el-button>
          <el-button type="text" @click="deleteActivity(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改活動資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
          <el-form-item label="活動名稱" prop="title">
            <el-input v-model="updateForm.title" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="活動介紹文字" prop="desc">
            <el-input v-model="updateForm.desc" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
          <el-form-item label="講者姓名" >
            <el-input v-model="updateForm.author_name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="講者頭銜">
            <el-input v-model="updateForm.author_title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="活動人限" prop="seat_limit">
            <el-input-number v-model.number="updateForm.seat_limit" :min="0"></el-input-number>
          </el-form-item>
          <el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="日期" prop="date">
                  <el-input v-model="updateForm.date" autocomplete="off" :disabled="true"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="時間範圍" prop="timeRange">
                  <el-input v-model="updateForm.timeRange" autocomplete="off" :disabled="true"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-date-picker
                style="margin-left: 15px; margin-top: 10px;"
                v-model="updateForm.date_time"
                @change="selectTimeUpdate"
                type="datetimerange"
                range-separator="至"
                placeholder="選擇日期時間">
              </el-date-picker>
            </el-row>
          </el-form-item>
          <el-form-item label="活動地點" prop="location">
            <el-input v-model="updateForm.location" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item>
            <el-switch
              v-model="updateForm.submitWithContact"
              active-text="透過聯絡人報名"
              inactive-text="透過連結報名"
            >
            </el-switch>
          </el-form-item>
          <el-form-item v-if="updateForm.submitWithContact">
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="聯絡人名稱" prop="contact_name">
                  <el-input v-model="updateForm.contact_name" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="聯絡人電話" prop="contact_phone">
                  <el-input v-model="updateForm.contact_phone" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="報名連結" prop="link" v-else>
            <el-input v-model="updateForm.link" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item label="縮圖上傳">
            <el-upload
              ref="updateUpload"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="縮圖連結" prop="thumbnail">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        title: "",
        desc: "",
        author_name: "",
        author_title: "",
        seat_limit: 0,
        time: "",
        date_time: [],
        date: "",
        timeRange: "",
        location: "",
        submitWithContact: true,
        link: "",
        contact_name: "",
        contact_phone: "",
        thumbnail: "",
        thumbnail_file_id: -1,
      },
      updateForm: {
        id: 0,
        title: "",
        desc: "",
        author_name: "",
        author_title: "",
        seat_limit: 0,
        time: "",
        date_time: [],
        date: "",
        timeRange: "",
        location: "",
        submitWithContact: true,
        link: "",
        contact_name: "",
        contact_phone: "",
        thumbnail: "",
        thumbnail_file_id: -1,
      },
      rules: {
        title: [
          { required: true, message: '請輸入活動名稱', trigger: 'blur' }
        ],
        desc: [
          { required: true, message: '請輸入活動描述', trigger: 'blur' }
        ],
        // author_name: [
        //   { required: true, message: '請輸入活動講者', trigger: 'blur' }
        // ],
        // author_title: [
        //   { required: true, message: '請輸入講者身份 / 職業', trigger: 'blur' }
        // ],
        seat_limit: [
          { required: true, type: "number", min: 1, message: '活動人數至少為 1', trigger: 'blur' }
        ],
        date: [
          { required: true, message: '請輸入日期', trigger: 'blur' }
        ],
        timeRange: [
          { required: true, message: '請輸入當天時間範圍', trigger: 'blur' }
        ],
        location: [
          { required: true, message: '請輸入地點資訊', trigger: 'blur' }
        ],
        link: [
          { required: true, message: '請輸入報名連結', trigger: 'blur' }
        ],
        contact_name: [
          { required: true, message: '請輸入聯絡人姓名', trigger: 'blur' }
        ],
        contact_phone: [
          { required: true, message: '請輸入聯絡人電話', trigger: 'blur' }
        ],
      }
    };
  },
  methods: {
    async create() {
      // console.log(this.form.date_time, typeof this.form.date_time);
      this.form.thumbnail = this.fileTmpLink
      this.form.thumbnail_file_id = this.fileTmpId

      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.dialogFormLoading = true

      this.form.time = `${this.form.date}|${this.form.timeRange}`
      // console.log(this.form.time);

      if (this.form.submitWithContact) {
        this.form.link = ""
      } else {
        this.form.contact_name = ""
        this.form.contact_phone = ""
      }

      console.log(this.form);

      try {
        await post(`${ServerUrl}/management/activity/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, title, desc, author_name, author_title, seat_limit, time, location, link, thumbnail, thumbnail_file_id, contact_name, contact_phone) {
      console.log(title)
      // Process Input
      this.updateForm = {
        id,
        title,
        desc,
        author_name,
        author_title,
        seat_limit,
        time,
        location,
        link,
        thumbnail,
        thumbnail_file_id,
        contact_name,
        contact_phone,
        submitWithContact: link === ""
      }
      if (this.$refs["updateUpload"]) this.$refs["updateUpload"].clearFiles()

      this.updateForm.date = time.split("|")[0]
      this.updateForm.timeRange = time.split("|")[1]

      this.updateFormVisible = true
    },

    async update() {
      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.updateFormLoading = true

      this.updateForm.time = `${this.updateForm.date}|${this.updateForm.timeRange}`

      if (this.updateForm.submitWithContact) {
        this.updateForm.link = ""
      } else {
        this.updateForm.contact_name = ""
        this.updateForm.contact_phone = ""
      }

      if (this.fileTmpLink != "") {
        this.fileDelete(this.updateForm.thumbnail_file_id)

        this.updateForm.thumbnail = this.fileTmpLink
        this.updateForm.thumbnail_file_id = this.fileTmpId
      }

      console.log(this.updateForm);
      
      try {
        await post(`${ServerUrl}/management/activity/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        title: "",
        desc: "",
        author_name: "",
        author_title: "",
        seat_limit: 0,
        time: "",
        date: "",
        timeRange: "",
        location: "",
        submitWithContact: true,
        link: "",
        contact_name: "",
        contact_phone: "",
        thumbnail: "",
        thumbnail_file_id: -1,
      }

      this.fileClean()
      if (this.$refs["createUpload"]) this.$refs["createUpload"].clearFiles()
    },

    async deleteActivity(id) {
      await post(`${ServerUrl}/management/activity/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    async getData() {
      console.log('getData');
      try {
        let data = await get(`${ServerUrl}/management/activity/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        console.log(err);
      }
    },

    addz(num) {
      return num < 10 ? `0${num}` : num;
    },
    
    selectTime() {
      const start_time = this.form.date_time[0], end_time = this.form.date_time[1];

      this.form.date = `${start_time.getFullYear()-1911}年${start_time.getMonth()+1}月${start_time.getDate()}日`;
      this.form.timeRange = `${this.addz(start_time.getHours())}:${this.addz(start_time.getMinutes())}-${this.addz(end_time.getHours())}:${this.addz(end_time.getMinutes())}`;
    },
    selectTimeUpdate() {
      const start_time = this.updateForm.date_time[0], end_time = this.updateForm.date_time[1];

      this.updateForm.date = `${start_time.getFullYear()-1911}年${start_time.getMonth()+1}月${start_time.getDate()}日`;
      this.updateForm.timeRange = `${this.addz(start_time.getHours())}:${this.addz(start_time.getMinutes())}-${this.addz(end_time.getHours())}:${this.addz(end_time.getMinutes())}`;
    }
  },
  async mounted() {
    if (window.localStorage.getItem("token"))
      this.getData()
  },
};
</script>

<style lang="scss">
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>