<template>
  <div class="activity-container">
    <AwardTag @updateTag="updateTag" />
    <AwardContent :tagData="tagData" />
  </div>
</template>

<script>
import AwardTag from '@/components/AwardTag';
import AwardContent from '@/components/AwardContent';

export default {
  components: { AwardTag, AwardContent },
  data() {
    return {
      tagData: []
    }
  },
  methods: {
    updateTag(tag) {
      this.tagData = tag;
    }
  }
};
</script>

<style lang="scss">
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>