<template>
  <div class="books-container">
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true; clean()" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增書籍資料" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="書籍名稱" prop="name">
            <el-input v-model="form.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="推薦分類" prop="type">
            <el-select v-model="form.type" placeholder="選擇類別">
              <el-option label="好書推薦" value="好書推薦">好書推薦</el-option>
              <el-option label="文官學院推薦110年書目" value="文官學院推薦110年書目"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="作者名稱" prop="author">
            <el-input v-model="form.author" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="出版商" prop="publication">
            <el-input v-model="form.publication" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="縮圖上傳">
            <el-upload
              ref="createUpload"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="縮圖連結" prop="image_link">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
          <!-- <el-form-item label="介紹文字" prop="intro">
            <el-input v-model="form.intro" autocomplete="off" type="textarea"></el-input>
          </el-form-item> -->
          <el-form-item label="介紹文字" prop="intro">
            <tiptap v-model="form.intro" />
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="name" label="Name 書籍名稱" width="300">
      </el-table-column>
      <el-table-column prop="type" label="Type 推薦分類" width="300">
      </el-table-column>
      <el-table-column prop="author" label="Author 作者" width="200">
      </el-table-column>
      <el-table-column
        prop="publication"
        label="Publication 出版商"
        width="200"
      >
      </el-table-column>
      <el-table-column
        prop="image_link"
        label="Image Link 縮圖連結"
        min-width="200"
      >
      <template #default="scope">
        <img :src="scope.row.image_link">
        <!-- <a :href="scope.row.image_link" class="has-link">{{scope.row.image_link}}</a> -->
      </template>
      </el-table-column>
      <el-table-column
        prop="intro"
        label="Intro 介紹文字"
        min-width="300"
      >
        <template #default="scope">
          <div v-html="scope.row.intro"></div>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.name, scope.row.type, scope.row.author, scope.row.publication, scope.row.image_link, scope.row.image_file_id, scope.row.intro)">修改</el-button>
          <el-button type="text" @click="deleteBook(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改書籍資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
          <el-form-item label="書籍名稱" prop="name">
            <el-input v-model="updateForm.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="推薦分類" prop="type">
            <el-select v-model="updateForm.type" placeholder="選擇類別">
              <el-option label="好書推薦" value="好書推薦">好書推薦</el-option>
              <el-option label="文官學院推薦110年書目" value="文官學院推薦110年書目"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="作者名稱" prop="author">
            <el-input v-model="updateForm.author" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="出版商" prop="publication">
            <el-input v-model="updateForm.publication" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="縮圖上傳">
            <el-upload
              ref="updateUpload"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="縮圖連結" prop="image_link">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
          <!-- <el-form-item label="介紹文字" prop="intro">
            <el-input v-model="updateForm.intro" autocomplete="off" type="textarea"></el-input>
          </el-form-item> -->
          <el-form-item label="介紹文字" prop="intro">
            <tiptap v-model="updateForm.intro" />
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

import Tiptap from '@/components/tiptap'

export default {
  components: {
    Tiptap
  },
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        type: "",
        name: "",
        author: "",
        publication: "",
        intro: "",
        image_link: "",
        image_file_id: -1
      },
      updateForm: {
        id: 0,
        type: "",
        name: "",
        author: "",
        publication: "",
        intro: "",
        image_link: "",
        image_file_id: -1,
      },

      rules: {
        name: [
          { required: true, message: '請輸入書籍名稱', trigger: 'blur' }
        ],
        type: [
          { required: true, message: '請選擇書籍類別', trigger: 'blur' }
        ],
        author: [
          { required: true, message: '請輸入作者姓名', trigger: 'blur' }
        ],
        publication: [
          { required: true, message: '請輸入書籍出版商', trigger: 'blur' }
        ],
        intro: [
          { required: true, message: '請輸入書籍簡介', trigger: 'blur' }
        ],
        image_link: [
          { required: true, message: '請透過上傳檔案新增連結', trigger: 'blur' }
        ]
      },
      editor: null,
    };
  },
  methods: {
    async create() {
      this.form.image_link = this.fileTmpLink
      this.form.image_file_id = this.fileTmpId
      console.log(this.form)

      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return
      
      this.dialogFormLoading = true

      this.fileClean()

      try {
        await post(`${ServerUrl}/management/book/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, name, type, author, publication, image_link, image_file_id, intro) {
      // Process Input
      this.updateForm = {
        id,
        name,
        type,
        author,
        publication,
        intro,
        image_link,
        image_file_id
      }

      if (this.$refs["updateUpload"]) this.$refs["updateUpload"].clearFiles()

      this.fileTmpLink = image_link
      this.fileTmpId = image_file_id
      this.updateFormVisible = true
    },

    async update() {
      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.updateFormLoading = true

      if (this.fileTmpLink != "") {
        this.fileDelete(this.updateForm.image_file_id)

        this.updateForm.image_link = this.fileTmpLink
        this.updateForm.image_file_id = this.fileTmpId
      }

      try {
        await post(`${ServerUrl}/management/book/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        name: "",
        type: "",
        author: "",
        publication: "",
        intro: "",
        image_link: "",
        image_file_id: -1
      }
      this.fileClean()
      if (this.$refs["createUpload"]) this.$refs["createUpload"].clearFiles()
    },

    async getData() {
      try {
        let data = await get(`${ServerUrl}/management/book/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        this
      }
    },

    async deleteBook(id) {
      await post(`${ServerUrl}/management/book/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },
  },
  async mounted() {
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
  },
};
</script>

<style lang="scss">
.books-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>