<template>
  <div class="activity-container">
    <div class="header">
      <!-- <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button> -->
      <el-dialog title="新增頁首/頁尾資料" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
           <el-form-item label="頁面標題" prop="title">
            <el-input v-model="form.title" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
           <el-form-item label="頁尾資訊" prop="contact">
            <el-input v-model="form.contact" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
          <el-form-item label="網站Logo上傳">
            <el-upload
              ref="createUpload"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="縮圖連結" prop="link">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="title" label="頁面標題" width="300">
      </el-table-column>
      <el-table-column prop="contact" label="頁尾資訊" width="300">
      </el-table-column>
      <el-table-column prop="link" label="縮圖連結" min-width="200">
        <template #default="scope">
          <img :src="scope.row.link">
          <!-- <a :href="scope.row.link" class="has-link">{{scope.row.link}}</a> -->
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.title, scope.row.contact, scope.row.link, scope.row.link_file_id)">修改</el-button>
          <!-- <el-button type="text" @click="deleteTarget(scope.row.id)">刪除</el-button> -->
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改活動資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
           <el-form-item label="頁面標題" prop="title">
            <el-input v-model="updateForm.title" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
           <el-form-item label="頁尾資訊" prop="contact">
            <el-input v-model="updateForm.contact" autocomplete="off" type="textarea"></el-input>
          </el-form-item>
           <el-form-item label="縮圖上傳">
            <el-upload
              ref="updateUpload"
              :action="fileUploadRoute"
              :before-upload="fileCheck"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
              <template #tip>
                <div class="el-upload__tip">接受 jpg / png 檔案格式</div>
              </template>
            </el-upload>
          </el-form-item>
          <el-form-item label="縮圖連結" prop="link">
            <el-input v-model="fileTmpLink" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        title: "",
        contact: "",
        link: "",
        link_file_id: -1,
      },
      updateForm: {
        id: 0,
        title: "",
        contact: "",
        link: "",
        link_file_id: -1,
      },
      rules: {
        link: [
          { required: true, type: "string", message: "請上傳圖片", trigger: 'blur' }
        ],
      }
    };
  },
  methods: {
    async create() {
      this.form.link = this.fileTmpLink
      this.form.link_file_id = this.fileTmpId

      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.dialogFormLoading = true

      try {
        await post(`${ServerUrl}/management/defaultInfo/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, title, contact, link, link_file_id) {
      // Process Input
      this.updateForm = {
        id,
        title,
        contact,
        link,
        link_file_id,
      }
      if (this.$refs["updateUpload"]) this.$refs["updateUpload"].clearFiles()

      this.fileTmpLink = link
      this.fileTmpId = link_file_id
      this.updateFormVisible = true
    },

    async update() {
      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.updateFormLoading = true

      if (this.fileTmpLink != "") {
        this.fileDelete(this.updateForm.link_file_id)

        this.updateForm.link = this.fileTmpLink
        this.updateForm.link_file_id = this.fileTmpId
      }
      
      try {
        await post(`${ServerUrl}/management/defaultInfo/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        title: "",
        contact: "",
        link: "",
        link_file_id: -1,
      }

      this.fileClean()
      if (this.$refs["createUpload"]) this.$refs["createUpload"].clearFiles()
    },

    async deleteTarget(id) {
      await post(`${ServerUrl}/management/defaultInfo/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    async getData() {
      console.log('getData');
      try {
        let data = await get(`${ServerUrl}/management/defaultInfo/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        console.log(err);
      }
    }
  },
  async mounted() {
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
    // this.getData()
  },
};
</script>

<style lang="scss">
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>