<template>
  <div class="books-container">
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增檔案" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="檔案類別" prop="type">
            <el-select v-model="form.type" placeholder="選擇類別">
              <el-option label="111專書工作圈文件下載" value="111專書工作圈文件下載"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="檔案上傳">
            <el-upload
              ref="createUpload"
              :action="fileUploadRoute"
              :headers="fileUploadRequestHeader"
              :on-success="fileOnUploadSuccess"
              :on-remove="fileOnUploadRemove"
              :limit="1"
            >
              <el-button size="small" type="primary">上傳</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="檔案編號" prop="id">
            <el-input v-model="fileTmpId" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">上傳</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="name" label="Name 檔案名稱" width="300">
      </el-table-column>
      <el-table-column prop="type" label="File Type 類別" width="300">
      </el-table-column>
      <el-table-column prop="internal_file_name" label="System File Name 系統檔案名稱" width="300">
      </el-table-column>
      <el-table-column
        prop="link"
        label="File Link 檔案連結"
        min-width="300"
      >
      <template #default="scope">
        <a :href="scope.row.link" class="has-link">{{scope.row.link}}</a>
      </template>
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="fileDelete(scope.row.id, getData)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  setup() {
    CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        type: "",
        id: -1
      },

      rules: {
        type: [
          { required: true, message: '請輸入檔案類別', trigger: 'blur' }
        ],
        id: [
          { type: "number", required: true, min: 0, message: '請透過上傳檔案新增連結', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    async create() {
      this.form.id = this.fileTmpId

      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return
      
      this.dialogFormVisible = false

      try {
        await post(`${ServerUrl}/management/file/updateType`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {

        this.dialogFormLoading = false
      }

      this.getData()
    },

    async getData() {
      try {
        let data = await get(`${ServerUrl}/management/file/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        this
      }
      this.linkBuffer = ""
    },

    clean() {
      this.form = {
        type: "",
        id: -1
      }

      this.fileClean()
      this.$refs["createUpload"].clearFiles()
    }
  },
  async mounted() {
    this.uploadRoute = `${ServerUrl}/management/file/upload`
    this.uploadRequestHeader = {
      Authorization: window.localStorage.getItem("token")
    }

   
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
  },
};
</script>

<style lang="scss">
.books-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>