<template>
  <div class="home">
    請選擇項目
  </div>
</template>

<script>
import CheckToken from '@/composables/checkToken'

export default {
  setup() {
    CheckToken()
  },
}
</script>

<style lang="scss">
.home {
  width: 100%;

  color: grey;
}
</style>