<template>
  <div class="login-container">
    <div class="box">
      <el-form label-position="top" label-width="100px">
        <el-form-item label="帳號">
          <el-input v-model="account"></el-input>
        </el-form-item>
        <el-form-item label="密碼">
          <el-input v-model="password" show-password @keyup.enter="login"></el-input>
        </el-form-item>
      </el-form>
      <el-button type="primary" class="button" @click="login" :loading="isLoading">登入</el-button>
    </div>
  </div>
</template>

<script>
import useLoginForm from '@/composables/Login/loginForm'
import checkToken from '@/composables/checkToken'

export default {
  setup() {
    checkToken()
    const { account, password, isLoading, login } = useLoginForm()

    return {
      // Data
      account,
      password,
      isLoading,

      // Methods
      login
    }
  },
}
</script>

<style lang="scss">
$box-width: 300px;

.login-container {
  width: 100%;
  position: relative;

  .box {
    position: absolute;
    top: 100px;
    left: calc(50% - #{$box-width} / 2 - 100px);
    width: $box-width;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #cacaca;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

    padding: 30px 30px 30px 30px;

     // Overrite Input Style
    div.el-input input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0px;
    }

    .button {
      margin-top: 10px;
    }
  }
}
</style>