<template>
  <div class="meeting-container">
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增會議資料" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="會議名稱" prop="title">
            <el-input v-model="form.title" autocomplete="off"></el-input>
          </el-form-item>
           <el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="活動日期" prop="date">
                  <el-input v-model="form.date" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="活動時間範圍" prop="timeRange">
                  <el-input v-model="form.timeRange" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="會議地點" prop="place">
            <el-input v-model="form.place" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="title" label="Title 標題" width="300">
      </el-table-column>
      <el-table-column prop="time" label="Time 會議時間" width="200">
      </el-table-column>
      <el-table-column
        prop="place"
        label="Place 地點"
      >
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.title, scope.row.time, scope.row.place)">修改</el-button>
          <el-button type="text" @click="deleteMeeting(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改會議資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
          <el-form-item label="會議名稱" prop="title">
            <el-input v-model="updateForm.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item label="活動日期" prop="date">
                  <el-input v-model="updateForm.date" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="活動時間範圍" prop="timeRange">
                  <el-input v-model="updateForm.timeRange" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="會議地點" prop="place">
            <el-input v-model="updateForm.place" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">更改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  setup() {
    CheckToken();
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        title: "",
        time: "",
        date: "",
        timeRange: "",
        place: ""
      },
      updateForm: {
        id: -1,
        title: "",
        time: "",
        date: "",
        timeRange: "",
        place: ""
      },

      rules: {
        title: [
          { required: true, message: '請輸入會議名稱', trigger: 'blur' }
        ],
        date: [
          { required: true, message: '請輸入日期', trigger: 'blur' }
        ],
        timeRange: [
          { required: true, message: '請輸入當天時間範圍', trigger: 'blur' }
        ],
        place: [
          { required: true, message: '請輸入會議地點', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    async create() {
      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.dialogFormLoading = true

      this.form.time = `${this.form.date}|${this.form.timeRange}`

      try {
        await post(`${ServerUrl}/management/meeting/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, title, time, place) {
      // Process Input
      this.updateForm = {
        id,
        title,
        time,
        place
      }

      this.updateForm.date = time.split("|")[0]
      this.updateForm.timeRange = time.split("|")[1]

      this.updateFormVisible = true
    },

    async update() {
      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });
      if (!isValid) return
      
      this.updateFormLoading = true

      this.updateForm.time = `${this.updateForm.date}|${this.updateForm.timeRange}`

      try {
        await post(`${ServerUrl}/management/meeting/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        title: "",
        time: "",
         date: "",
        timeRange: "",
        place: "",
        id: -1,
      }
    },

    async deleteMeeting(id) {
      await post(`${ServerUrl}/management/meeting/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    async getData() {
      try {
        let data = await get(`${ServerUrl}/management/meeting/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        this
      }
    }
  },
  async mounted() {
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
  },
};
</script>

<style lang="scss">
.meeting-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>