<template>
  <div class="activity-container">
    <Team @updateTeam="updateTeam" />
    <Member :teamData="teamData" />
  </div>
</template>

<script>
import Member from '@/components/Member';
import Team from '@/components/Team';

export default {
  components: { Member, Team },
  data() {
    return {
      teamData: []
    }
  },
  methods: {
    updateTeam(team) {
      this.teamData = team;
    }
  }
};
</script>

<style lang="scss">
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>