<template>
  <div class="online-search-link-container">
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增線上資料庫檢索" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="連結標題" prop="title">
            <el-input v-model="form.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="連結地址" prop="link">
            <el-input v-model="form.link" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="title" label="Title 標題" width="300">
      </el-table-column>
      <el-table-column prop="link" label="Link 連結地址">
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.title, scope.row.link)">修改</el-button>
          <el-button type="text" @click="deleteMeeting(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改線上資料庫檢索" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
          <el-form-item label="連結標題" prop="title">
            <el-input v-model="updateForm.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="連結地址" prop="link">
            <el-input v-model="updateForm.link" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">更改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
import CheckToken from "@/composables/checkToken";
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  setup() {
    CheckToken();
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        title: "",
        link: "",
      },
      updateForm: {
        id: -1,
        title: "",
        link: "",
      },

      rules: {
        title: [
          { required: true, message: '請輸入連結標題', trigger: 'blur' }
        ],
        link: [
          { required: true, message: '請輸入連結地址', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    async create() {
      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.dialogFormLoading = true

      try {
        await post(`${ServerUrl}/management/onlineLink/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, title, link) {
      // Process Input
      this.updateForm = {
        id,
        title,
        link
      }

      this.updateFormVisible = true
    },

    async update() {
      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });
      if (!isValid) return
      
      this.updateFormLoading = true

      try {
        await post(`${ServerUrl}/management/onlineLink/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        title: "",
        link: "",
        id: -1,
      }
    },

    async deleteMeeting(id) {
      await post(`${ServerUrl}/management/onlineLink/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    async getData() {
      try {
        let data = await get(`${ServerUrl}/management/onlineLink/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        this
      }
    }
  },
  async mounted() {
    if (window.localStorage.getItem("token") && window.localStorage.getItem("account") === 'admin')
      this.getData()
  },
};
</script>

<style lang="scss">
.online-search-link-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>