<template>
  <div class="activity-container">
    <div class="header">
      <el-button type="text" @click="dialogFormVisible = true" :disabled="dialogFormVisible">新增資料</el-button>
      <el-dialog title="新增活動資料" v-model="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="createForm">
          <el-form-item label="洲別" prop="area">
            <el-select v-model="form.area" placeholder="洲別" @change="setCountryData">
              <el-option
                v-for="area in areaData"
                :key="area.title"
                :label="area.title"
                :value="area.title">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="國別" prop="country">
            <el-select v-model="form.country" placeholder="國家">
              <el-option
                v-for="country in countryData"
                :key="country.title"
                :label="country.title"
                :value="country.title">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="學校中文名稱" prop="name">
            <el-input v-model="form.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="學校英文名稱" prop="name_en">
            <el-input v-model="form.name_en" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="原文縮寫" prop="name_simple">
            <el-input v-model="form.name_simple" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="是否為姐妹校" prop="is_sister">
            <el-switch
              v-model="form.is_sister"
              active-color="#13ce66"
              inactive-color="#aaaaaa">
            </el-switch>
          </el-form-item>
          <el-form-item label="簽訂時間" prop="contract_start">
            <el-row :gutter="20">
              <el-date-picker
                style="margin-left: 15px; margin-top: 10px;"
                v-model="form.contract_start"
                type="date"
                placeholder="簽訂時間">
              </el-date-picker>
            </el-row>
          </el-form-item>
          <el-form-item label="學校網址" prop="website">
            <el-input v-model="form.website" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="地址" prop="address">
            <el-input v-model="form.address" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="電話" prop="phone">
            <el-input v-model="form.phone" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="學校簡介" prop="intro">
            <el-input v-model="form.intro" autocomplete="off" autosize></el-input>
            <!-- <tiptap v-model="form.intro" /> -->
          </el-form-item>
          <el-form-item label="學校英文簡介" prop="intro_en">
            <el-input v-model="form.intro_en" autocomplete="off" autosize></el-input>
            <!-- <tiptap v-model="form.intro_en" /> -->
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false; clean()" :disabled="dialogFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="create">新增</el-button>
          </span>
        </template>
      </el-dialog>
    </div>

    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="name" label="中文名稱" width="300">
      </el-table-column>
      <el-table-column prop="contract_start" label="簽約時間" width="300">
      </el-table-column>
      <el-table-column prop="area" label="洲別" width="300">
      </el-table-column>
      <el-table-column prop="country" label="國家" width="300">
      </el-table-column>
      <el-table-column prop="phone" label="電話" width="200">
      </el-table-column>
      <el-table-column fixed="right" label="Operations" width="120">
        <template #default="scope">
          <el-button type="text" @click="openUpdate(scope.row.id, scope.row.area, scope.row.country, scope.row.name, scope.row.name_en, scope.row.name_simple, scope.row.contract_start, scope.row.phone, scope.row.address, scope.row.website, scope.row.intro, scope.row.intro_en, scope.row.is_sister)">修改</el-button>
          <el-button type="text" @click="deleteSister(scope.row.id)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="修改活動資料" v-model="updateFormVisible">
        <el-form :model="updateForm" :rules="rules" ref="updateForm">
          <el-form-item label="洲別" prop="area">
            <el-select v-model="updateForm.area" placeholder="洲別">
              <el-option
                v-for="area in areaData"
                :key="area.title"
                :label="area.title"
                :value="area.title">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="國別" prop="country">
            <el-select v-model="updateForm.country" placeholder="國家">
              <el-option
                v-for="country in countryData"
                :key="country.title"
                :label="country.title"
                :value="country.title">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="學校中文名稱" prop="name">
            <el-input v-model="updateForm.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="學校英文名稱" prop="name_en">
            <el-input v-model="updateForm.name_en" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="原文縮寫" prop="name_simple">
            <el-input v-model="updateForm.name_simple" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="是否為姐妹校" prop="is_sister">
            <el-switch
              v-model="updateForm.is_sister"
              active-color="#13ce66"
              inactive-color="#aaaaaa">
            </el-switch>
          </el-form-item>
          <el-form-item label="簽訂時間" prop="contract_start">
            <el-row :gutter="20">
              <el-date-picker
                style="margin-left: 15px; margin-top: 10px;"
                v-model="updateForm.contract_start"
                type="date"
                placeholder="簽訂時間">
              </el-date-picker>
            </el-row>
          </el-form-item>
          <el-form-item label="學校網址" prop="website">
            <el-input v-model="updateForm.website" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="地址" prop="address">
            <el-input v-model="updateForm.address" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="電話" prop="phone">
            <el-input v-model="updateForm.phone" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="學校簡介" prop="intro">
            <tiptap v-model="updateForm.intro" />
          </el-form-item>
          <el-form-item label="學校英文簡介" prop="intro_en">
            <tiptap v-model="updateForm.intro_en" />
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="updateFormVisible = false; clean()" :disabled="updateFormLoading">取消</el-button>
            <el-button type="primary" :loading="dialogFormLoading" @click="update">修改</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script>
// import CheckToken from "@/composables/checkToken";
import UploadFile from "@/composables/uploadFile"
import Tiptap from '@/components/tiptap';
import { ServerUrl } from "@/api/index";
import { get, post } from "axios";

export default {
  components: { Tiptap },
  setup() {
    // CheckToken();

    let {
      // Data
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    } = UploadFile()

    return {
      fileUploadRoute,
      fileUploadRequestHeader,
      fileTmpLink,
      fileTmpId,

      // Method
      fileDelete,
      fileCheck,
      fileOnUploadSuccess,
      fileOnUploadRemove,
      fileClean,
      fileCleanAndDelete
    }
  },
  data() {
    const areaData = [
      { title: '亞洲', title_en: 'Asia'},
      { title: '美洲', title_en: 'Americas'},
      { title: '歐洲', title_en: 'Europe'},
      { title: '大洋洲', title_en: 'Ocenia'},
      { title: '非洲', title_en: 'Africa'}
    ]
    const allCountryData = [
      { title: '日本', title_en: 'Japan', area: '亞洲'},
      { title: '阿富汗', title_en: 'Afghanistan', area: '亞洲'},
      { title: '阿爾巴尼亞', title_en: 'Albania', area: '歐洲'}
    ]
    return {
      areaData,
      allCountryData,
      countryData: [],
      tableData: [],
      dialogFormVisible: false,
      updateFormVisible: false,
      dialogFormLoading: false,
      updateFormLoading: false,

      form: {
        id: -1,
        area: "",
        country: "",
        name: "",
        name_en: "",
        name_simple: "",
        contract_start: 0,
        phone: "",
        address: "",
        website: "",
        intro: "",
        intro_en: "",
        is_sister: false
      },
      updateForm: {
        id: 0,
        area: "",
        country: "",
        name: "",
        name_en: "",
        name_simple: "",
        contract_start: 0,
        phone: "",
        address: "",
        website: "",
        intro: "",
        intro_en: "",
        is_sister: false
      },
      rules: {
        area: [
          { required: true, message: '請選擇洲別', trigger: 'blur' }
        ],
        country: [
          { required: true, message: '請選擇國家', trigger: 'blur' }
        ],
        name: [
          { required: true, message: '請填入中文名稱', trigger: 'blur' }
        ],
        name_en: [
          { required: true, message: '請填入英文名稱', trigger: 'blur' }
        ],
        contract_start: [
          { required: true, message: '請填入簽約時間', trigger: 'blur' }
        ],
        is_sister: [
          { required: true, message: '請選擇是否為姐妹校', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    setCountryData(e) {
      this.countryData = this.allCountryData.filter(country => country.area === e);
    },
    async create() {
      console.log(this.form);
      let isValid
      await this.$refs["createForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.dialogFormLoading = true

      this.form.area_en = this.areaData.find(area => area.title === this.form.area).title_en;
      this.form.country_en = this.countryData.find(country => country.title === this.form.country).title_en;

      try {
        await post(`${ServerUrl}/management/sister/create`, this.form, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.dialogFormVisible = false
        this.dialogFormLoading = false
      } catch (err) {
        console.log(err)
        this.dialogFormLoading = false
      }

      this.clean()
      this.getData()
    },

    openUpdate(id, area, country, name, name_en, name_simple, contract_start, phone, address, website, intro, intro_en, is_sister) {
      // Process Input
      this.updateForm = {
        id,
        area,
        country,
        name,
        name_en,
        name_simple,
        contract_start,
        phone,
        address,
        website,
        intro,
        intro_en,
        is_sister
      }
      if (this.$refs["updateUpload"]) this.$refs["updateUpload"].clearFiles()

      this.updateFormVisible = true
    },

    async update() {
      let isValid
      await this.$refs["updateForm"].validate((valid) => {
        isValid = valid
      });

      if (!isValid) return

      this.updateFormLoading = true

      this.updateForm.area_en = this.areaData.find(area => area.title === this.updateForm.area).title_en;
      this.updateForm.country_en = this.countryData.find(country => country.title === this.updateForm.country).title_en;
      
      try {
        await post(`${ServerUrl}/management/sister/update`, this.updateForm, {
          headers: {
            Authorization: window.localStorage.getItem("token")
          }
        })
        this.updateFormVisible = false
        this.updateFormLoading = false
      } catch (err) {
        console.log(err)
        this.updateFormLoading = false
      }

      this.getData()
    },

    clean() {
      this.form = {
        id: -1,
        area: "",
        country: "",
        name: "",
        name_en: "",
        name_simple: "",
        contract_start: 0,
        phone: "",
        address: "",
        website: "",
        intro: "",
        intro_en: "",
        is_sister: false
      }

      this.fileClean()
      if (this.$refs["createUpload"]) this.$refs["createUpload"].clearFiles()
    },

    async deleteSister(id) {
      await post(`${ServerUrl}/management/sister/delete`, { id },{
        headers: {
          Authorization: window.localStorage.getItem("token")
        }
      })

      this.getData()
    },

    async getData() {
      console.log('getData');
      try {
        let data = await get(`${ServerUrl}/management/sister/getAll`, {
          headers: {
            Authorization: window.localStorage.getItem("token"),
          },
        });

        this.tableData = data.data;
      } catch(err) {
        console.log(err);
      }
    },

    addz(num) {
      return num < 10 ? `0${num}` : num;
    }
  },
  async mounted() {
    // if (window.localStorage.getItem("token"))
    this.getData()
  },
};
</script>

<style lang="scss">
// .el-aside {
//   display: none;
// }
.activity-container {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    margin-left: 8px;
  }

  a.has-link {
    text-decoration-color: #42b983;
    color: #42b983;
  }
}
</style>